@charset "UTF-8";

body {
    background-color: #F7E4D2;
    font-family: EB Garamond, Garamond, Verdana;
}

#container {
    width: 1195px;
    margin: auto;
}

ol, .page_content {
    margin: 0;
    float: left;
    width: 945px;
    border: 2px solid #2F6E9F;
}

.page_content {
  box-sizing: border-box;
  padding: 25px;
  background-color: #FAECDE;
}

.page_content.sf {
  min-height: 630px;
  padding-bottom: 210px;
  background: url('sf.jpg') bottom left no-repeat, url('sky.jpg') top left repeat-y;
  background-color: #B6CDE7;
}

ol {
    height: 585px;
    list-style: none;
    padding: 0;
    position: relative;
}

ol li {
    position: absolute;
    margin: 0;
    padding: 0;
}

li.one {
    height: 45px;
    width: 45px;
    left: 225px;
    top: 180px;
}
li.one:first-child {
    top: 135px;
}
li.two {
    height: 90px;
    width: 90px;
    left: 270px;
    top: 135px;
}
li.three {
    height: 135px;
    width: 135px;
    left: 225px;
}
li.five {
    height: 225px;
    width: 225px;
}
li.eight {
    height: 360px;
    width: 360px;
    top: 225px;
}
li.thirteen {
    height: 585px;
    width: 585px;
    left: 360px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav {
    float: left;
    width: 100px;
    margin: 20px 0 0 25px;
}

#nav li {
    margin: 10px 0;
}

h1,
#nav li,
.content_container {
    font-size: 24px;
}

#nav li#rsvp {
    font-size: 30px;
    font-weight: bold;
}

h1 {
    color: #2F6E9F;
}

.content_container {
    color: #333;
    text-decoration: none;
}
#nav li a {
    text-decoration: none;
    color: #2F6E9F;
}

#nav li a:visited {
    color: #2F6E9F;
}

h1 {
    color: #2F6E9F;
    font-size: 32px;
    text-align: center;
}

.content_container {
    display: none;
    position: absolute;
    height: 565px;
    width: 585px;
    left: 360px;
    padding-top: 20px;
    font-weight: bold;
}

.content_container li {
    margin: 20px 0;
}
.content_container span, .content_container h3, .content_container h2 {
    display: block;
    text-align: center;
}
.content_container h2 {
    font-size: 30px;
}
.content_container h3 {
    font-size: 24px;
    padding-bottom: 5px;
}
#hotels_container {
    padding-left: 10px;
    padding-right: 10px;
    width: 565px;
}
#hotels_container, #events_container {
    font-size: 20px;
}
#party_container {
    padding: 30px;
}
#party_container img {
    margin: 0 10px;
}
#party_container span.party_member {
    display: inline;
    height: 50px;
    vertical-align: top;
}

/* begin rsvp section */
.ss-printable-hint {
    display: none;
}

.ss-item,
#add-another {
    margin: 10px 0;
}

.guest-name-2,
.guest-name-3,
.guest-name-4,
.guest-meal-2,
.guest-meal-3,
.guest-meal-4 {
    display: none;
}

/* end rsvp section */
